  .bloqueL{
    display: inline-block;
    width: 400px;
    height: 650px;
    margin: 0%;
    background: #343f4b;
  }

  .bloqueD{
    position: relative;
    top: 150px;
    display: inline-block;
    padding-top: 50px;
    width: 690px;
    padding-left: 50px;
    height: 650px;
    border-right-color: gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .bloqueMedio{
    position:relative;
    bottom: 271px;
    display: inline-block;
    border-style: solid;
    border-right-color: gray;
    border-width: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: none;
    width: 230px;
    height: 650px;
    padding-top: 2%;
    padding-left: 2%;
  }

  .fondo{
    background-color: #343f4b;
    background-size: cover;
  }
  .update{
  background-color:#c25be9;
  margin-top: 80px;
  display: inline;
  width: 200px;
  }
  .label1{
    display: flex;
    width: 50%;

  }
  .form-first{
    width: 49%;
    display: inline;
  }
  .form-last{
    margin-left: 10px;
    width: 49%;
    display: inline;
  }
  .last{
    margin-left: 39%;
  }
  form{
    width: 600px;
  }
.cancel{
  position: relative;
  top: 48px;
  left: 15px;
}
.city{
  margin-left: 30%;
}
.zip{
  margin-left: 34%;
}